* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem 6%;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
}

/*=== nav ===*/
.nav {
    padding: 0.5rem 0;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* logo */
.logo {
    justify-content: start;
    column-gap: 0.25rem;
}

.logo img {
    width: 2.5rem;
}

.logo h2 {
    color: #37D0EE;
    font-size: 1.25rem;
    font-weight: 700;
}

.logo span {
    color: #ffa500;
    font-weight: 400;
}

/* nav menu list */

.nav__item {
    padding: 1rem;
    transition: 0.5s;
}

.nav__item:hover {
    text-decoration: 0.1rem underline #37d0ee;
    text-underline-offset: 0.5rem;
}

.nav__item:hover .Nav__link {
    color: #ffa500;
}

.Nav__link {
    font-size: 0.9rem;
    color: #37D0EE;
}

/* button */
.btn {
    font-size: 1rem;
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(45deg, #37d0ee 0%, #ffa500 100%);
    
    transition: background 0.4s;
}

.btn:hover {
    background: linear-gradient(45deg, #ffa500 0%, #37d0ee 100%);
}

.nav-btn {
    position: absolute;
    right: 0;
}

/*=== hero ===*/
.hero {
    color: #fff;
    justify-content: space-between;
}

.hero__article {
    margin-top: 12%;
}

.hero__article h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1rem;
}

.hero__article h1 span {
    font-size: 5rem;
    font-weight: 700;
    color: #ffa500;
    letter-spacing: 3px;
}

.hero__article p {
    line-height: 1.25;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.hero-btn {
    width: 210px;
    padding: 0.25rem 1.25rem;
    justify-content: space-between;
}

.hero__btn-img {
    width: 2.25rem;
    transition: transform 0.4s;
}

.hero-btn:hover .hero__btn-img {
    transform: translateX(0.25rem);
}

.hero__coin-list {
    position: absolute;
    margin-bottom: 5%;
    right: 5%;
    bottom: 3rem;
}

.hero__coin {
    margin: 0 0.5rem;
    padding: 1rem 1.25rem;
    border: 1px solid #ffffff49;
    border-radius: 0.5rem;
}

.hero__coin img {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.hero__coin h3 {
    font-size: 1rem;
    color: #ffa500;
}

.hero__coin p {
    font-size: 0.9rem;
    color: #37D0EE;
}


/* footer */
footer {
    padding: .5rem 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 50%);
}

footer p {
    padding: 0.1rem;
    font-size: 0.75rem;
    color: #f8f4f4;
}

footer p a {
    color: #8fb1f3;
    text-decoration: underline;
    text-underline-offset: .2rem;
    transition: all 0.4s;
}

footer p a:hover {
    text-decoration: none;
    color: #ffa500;
}


/* responsive design */
@media screen and (min-width: 640px) {
    .nav__list {
        flex: 1;
        margin-left: 1rem;
        position: static;
        flex-direction: row;
        column-gap: 0.5rem;
        padding: 0;
    }
    
    .nav__item {
        padding: 0.25rem;
    }
}


@media screen and (max-width: 639.98px) {
    .nav__list {
        width: 50%;
        padding: 1rem 0;
        position: absolute;
        right: 0;
        top: 5rem;
        flex-direction: column;
        align-items: flex-end;
        background: #0f002be3;
        border-bottom: 0.25rem solid #ffa500;
    }

    
    .nav__item {
        margin-bottom: 0.5rem;
    }
    
    .hero__article h1 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
    
    .hero__article h1 span {
        font-size: 2rem;
    }
    
    .hero__article p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    
    .hero-btn {
        width: 200px;
        font-size: 0.8rem;
        padding: 0rem 1rem;
    }

    .hero__btn-img {
        width: 2rem;
    }

    .hero__coin-list {
        right: 2%;
    }
    
    .hero__coin {
        display: flex;
        margin: 0 0.2rem;
        padding: .15rem 0.2rem;
    }

    .hero__coin div {
        column-gap: .2rem;
    }
    
    .hero__coin img {
        width: 1.5rem;
        margin-right: 0.25rem;
    }
    
    .hero__coin h3 {
        font-size: 0.9rem;
    }
    
    .hero__coin p {
        font-size: 0.75rem;
    }
}


@media screen and (max-width: 399.98px) {
    .header {
        padding: 0.5rem 3%;
    }

    .nav {
        padding: 0.5rem;
    }

    .logo {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 0.25rem;
    }
    
    .logo img {
        width: 1.75rem;
    }
    
    .logo h2 {
        font-size: 1rem;
        font-weight: 700;
    }
    
    .btn {
        font-size: 0.8rem;
        padding: 0.25rem 1.25rem;
    }
    
    .hero__article h1 {
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
    
    .hero__article h1 span {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    
    .hero__article p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    
    .hero-btn {
        width: 180px;
        font-size: 0.8rem;
        padding: 0rem 1rem;
    }

    .hero__btn-img {
        width: 1.75rem;
    }

    .hero__coin-list {
        right: 2%;
    }
    
    .hero__coin {
        display: flex;
        flex-direction: column;
        margin: 0 0.2rem;
        padding: .15rem 0.2rem;
    }

    .hero__coin div {
        column-gap: .2rem;
    }
    
    .hero__coin img {
        width: 1.5rem;
        margin-right: 0.25rem;
    }
    
    .hero__coin h3 {
        font-size: 0.9rem;
    }
    
    .hero__coin p {
        font-size: 0.75rem;
    }

    footer p {
        font-size: 0.5rem;
    }
}
